// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fonts => npm install @fontsource/bodoni-moda
//  fontsource: https:fontsource.org/fonts/bodoni-moda
@import "~@fontsource/bodoni-moda/index.css";
@import "~@fontsource/bodoni-moda/700.css";

$fa-font-path: "~font-awesome/fonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// // @import "~@fortawesome/fontawesome-free/scss/regular.scss";

@import "./vars";

$ochre: #725936;

body {
  font-family: "Bodoni Moda", serif;
  // background-color: $bg-color;
  // color: $text-color;
}
